.head_location{
    display: flex;
    height:0.9rem;
    line-height: 0.9rem;
    composes: linear_blue_bg from '../Util/huipayWaterBase.css';
    padding:0 0.35rem;
    color:#FFF;
    composes: f30 from '../Util/huipayWaterBase.css';
}
.location_icon{
    background: url("../images/Location-Icon@2x.png") no-repeat left center;
    background-size: 0.26rem 0.31rem;
    composes:pl35 from '../Util/base.css';
}
.detail_address{
    overflow: hidden;
    background: url("../images/Drop-triangle@2x.png") no-repeat right center;
    background-size: 0.25rem auto;
    composes:pr30 from '../Util/base.css';
    text-overflow: ellipsis;
    white-space:nowrap;
}
