.auto_complete_address{
    background: #EEEFF3;
}
.head_input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.9rem;
}
.head_input_address{
    display: flex;
    align-items: center;
    width: 92%;
    height: 0.6rem;
    background: #FFFFFF;
}
.cancel{
    composes:f26 from '../Util/huipayWaterBase.css';
    color:#333;
    padding-right:0.2rem;
}
.auto_city{
    padding-right: 0.2rem;
    border-right: 0.01rem solid #EEEFF3;
}
.address_city{
    height: 0.3rem;
    line-height: 0.3rem;
    background: url("../../src/images/arrow-down.png") no-repeat right center;
    background-size: 0.3rem;
    padding: 0 0.4rem 0 0.2rem;
    composes: f26 from '../Util/base.css';
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}
.address_input{
    flex:1;
    margin: 0 0.2rem;
    padding-left:0.2rem;
    height:0.6rem;
    outline: none;
    composes:h f24 from '../Util/base.css'
}
.address_node{
    padding:0.2rem 0.3rem;
    border-bottom:0.01rem solid #EEEFF3;
    composes:bgColorF from '../Util/base.css';
}
.consignee_address{
    composes:f30 c333 from '../Util/base.css';
}
.consignee_location{
    composes:f24 c777 from '../Util/base.css';
}