.wrap{
    background:#F3F5F7;
}
.product_pic_box{
    height:7.5rem;
    overflow: hidden;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:0.2rem;
    height:2rem;
    background:#FFF;
    border-top:0.01rem solid #D7D7D7;
    border-bottom:0.01rem solid #D7D7D7;
}
.product_name{
    color:#333;
    font-size:0.32rem;
}
.product_sale_num{
    font-size:0.2rem;
    color:#666;
}
.product_money_box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:0.3rem;
}
.current_money{
    color:#ff4c2f;
    font-size:0.32rem;
}
.original_money_title{
    padding-left:0.3rem;
    font-size:0.26rem;
}
.original_money{
    font-size:0.26rem;
    text-decoration: line-through;
}
.product_item_ctrl{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width:1.65rem;
    line-height:0.42rem;
}
.product_increase{
    margin-left:0.1rem;
    width:0.42rem;
    height:0.42rem;
    background: url("../images/increase@2x.png") no-repeat center;
    -webkit-background-size: 0.42rem;
    background-size: 0.42rem;
}
.product_count{
    margin-left:0.1rem;
    width:0.55rem;
    font-size:0.4rem;
    composes: search_black from '../Util/huipayWaterBase.css';
    composes: tc from '../Util/base.css';
}
.product_reduce{
    width:0.42rem;
    height:0.42rem;
    background: url("../images/reduce@2x.png") no-repeat center;
    -webkit-background-size: 0.42rem;
    background-size: 0.42rem;
}
.add_btn{
    padding:0.02rem 0.3rem;
    height:0.4rem;
    line-height:0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    color:#FFF;
    composes: f24 from '../Util/huipayWaterBase.css';
    composes: linear_blue_bg from '../Util/huipayWaterBase.css';
    font-size:0.26rem;
}