.product_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.product{
    position:relative;
    width: calc(50% - 0.02rem);
    height: 5.3rem;
    overflow: hidden;
    margin-bottom: 0.04rem;
    composes: bgColorF from '../Util/base.css';
}
.product_pic_protector{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:3.73rem;
    overflow: hidden;
    composes: w tc bgColorF from '../Util/base.css';
}

.product_pic{
    composes:w from '../Util/base.css';
}
.product_info{
    display:flex;
    flex-direction: column;
    height:1.57rem;
    padding-left: 0.3rem;
}
.product_title{
    min-height:0.5rem;
    line-height: 0.5rem;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    color:#333333;
    composes: f32 from '../Util/base.css';
}
.product_price{
    color:#FF4243;
    composes: f32 from '../Util/base.css';
}
.price_icon{
    composes:f24 from '../Util/base.css';
}
.product_sold{
    color: #999999;
    composes:f26 from '../Util/base.css';
}

.shopping_cart_icon{
    position: absolute;
    bottom:0;
    right:0;
    background: url("../images/list_commom_icon_shopping-cart@2x.png") no-repeat left top;
    background-size: 0.4rem auto;
    width:0.8rem;
    height:0.8rem;
}
