.address_nodes{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:1.2rem;
    composes:bgColorF from '../Util/base.css';
    border-bottom:0.01rem solid #D7D7D7;
}
.address_info{
    flex:1;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.delete_address_btn{
    width:1rem;
    height:1.2rem;
    line-height:1.2rem;
    text-align: center;
}
.receiver_info{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    padding-left:0.3rem;
    composes:f30 c333 from '../Util/base.css';
}
.telephone{
    margin-left: 0.5rem;
}
.address_label{
    margin-right: 0.1rem;
    width:0.9rem;
    text-align: center;
    color: #399cfe;
    border-radius: 0.05rem;
    border: 0.01rem solid #399cfe;
    composes: f24 from '../Util/huipayWaterBase.css';
}
.location{
    padding:0.1rem 0.3rem;
    font-size:0.22rem;
    color:#666;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.operate{
    display:flex;
    justify-content: space-between;
    height: 0.6rem;
    line-height: 0.6rem;
    padding-left: 0.2rem;
    composes:pr30 f24 from '../Util/base.css';
}
.operate_default{
    display: flex;
    align-items: center;
}
.address_checked{
    height:0.5rem;
    width:0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    background: url("../../src/images/shoppingcart_choose_s.png") no-repeat center center;
    background-size: 0.34rem;
}
.address_no_checked{
    height:0.5rem;
    width:0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    background: url("../../src/images/shoppingcart_choose_n.png") no-repeat center center;
    background-size: 0.34rem;
}
.operate_amend{
    display: flex;
}
.operate_edit{
    background: url("../../src/images/address_btn_edit@2x.png") no-repeat left center;
    background-size: 0.35rem;
    padding-left: 0.5rem;
}
.operate_delete{
    background: url("../../src/images/address_btn_delete@2x.png") no-repeat left center;
    background-size: 0.35rem;
    padding-left: 0.45rem;
    margin-left: 0.38rem;
}
.address_btn{
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    height: 0.96rem;
    line-height: 0.96rem;
    composes:tc from '../Util/base.css';
    background: #FFF;
}
.address_btn_text{
    color: #399cfe;
    composes:f36 from '../Util/huipayWaterBase.css';
    line-height: 0.96rem;
    background:url('../images/Newly-added@2x.png') no-repeat left center;
    -webkit-background-size: 0.32rem;
    background-size: 0.32rem;
    padding-left:0.4rem;
}