.receive_address_list{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#F3F5F7;
}
.address_list{
}
.address_nodes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:1.2rem;
    composes:bgColorF from '../Util/base.css';
    border-bottom:0.01rem solid #D7D7D7;
}
.address_info{
    flex:1;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.delete_address_btn{
    width:1rem;
    height:1.2rem;
    line-height:1.2rem;
    text-align: center;
}
.receiver_info{
    display:flex;
    flex-direction: row;
    padding-left:0.3rem;
    composes:f30 c333 from '../Util/base.css';
}
.telephone{
    margin-left: 0.5rem;
}
.address_label{
    color: #4dc0ff;
    padding: 0 0.15rem;
    margin-left: 0.5rem;
    border-radius: 0.05rem;
    border: 0.01rem solid #4dc0ff;
    composes:f24 from '../Util/base.css';
}
.location{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    composes:pl30 pr30 from '../Util/base.css';
}
.operate{
    display:flex;
    justify-content: space-between;
    height: 0.6rem;
    line-height: 0.6rem;
    padding-left: 0.2rem;
    composes:pr30 f24 from '../Util/base.css';
}
.operate_default{
    display: flex;
    align-items: center;
}
.address_checked{
    height:0.5rem;
    width:0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    background: url("../../src/images/shoppingcart_choose_s.png") no-repeat center center;
    background-size: 0.34rem;
}
.address_no_checked{
    height:0.5rem;
    width:0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    background: url("../../src/images/shoppingcart_choose_n.png") no-repeat center center;
    background-size: 0.34rem;
}
.operate_amend{
    display: flex;
}
.operate_edit{
    background: url("../../src/images/address_btn_edit@2x.png") no-repeat left center;
    background-size: 0.35rem;
    padding-left: 0.5rem;
}
.operate_delete{
    background: url("../../src/images/address_btn_delete@2x.png") no-repeat left center;
    background-size: 0.35rem;
    padding-left: 0.45rem;
    margin-left: 0.38rem;
}
.address_btn{
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    height: 0.96rem;
    line-height: 0.96rem;
    composes:tc from '../Util/base.css';
    background: #FFF;
}
.address_btn_text{
    color: #399cfe;
    composes:f36 from '../Util/huipayWaterBase.css';
    line-height: 0.96rem;
    background:url('../images/Newly-added@2x.png') no-repeat left center;
    -webkit-background-size: 0.32rem;
    background-size: 0.32rem;
    padding-left:0.4rem;
}
.dialog{
    position: fixed;
    bottom: 0;
    z-index: 11;
    composes: bgColorF from '../Util/base.css';
}
.delete_dialog_body{
    position:fixed;
    bottom:1.5rem;
    margin:0 calc((100% - 6.9rem)/2);
    width: 6.9rem;
    height:1.94rem;
    background:#FFF;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.dialog_body_text{
    height: 0.94rem;
    line-height: 0.94rem;
    border-bottom: 0.01rem solid #EEEFF3;
    composes:f28 c666 tc from '../Util/base.css';
}
.dialog_body_delete{
    height: 1rem;
    line-height: 1rem;
    color: #FF4243;
    composes:f36  tc from '../Util/base.css';
}
.dialog_cancel{
    position:fixed;
    bottom: 0.2rem;
    margin:0 calc((100% - 6.9rem)/2);
    height: 1.16rem;
    line-height: 1.16rem;
    width: 6.9rem;
    color: #4dc0ff;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    composes:f36 tc bgColorF from '../Util/base.css';
}
.dialog_mask{
    position: fixed;
    z-index: 9;
    background: #000;
    opacity: 0.3;
    bottom: 0;
    composes: w h from '../Util/base.css';
}