.wrap{
    composes: wrap from '../Util/huipayWaterBase.css';
}
.shopping_list{
    display: flex;
    flex-direction: row;
}

.shopping_cart{
    position: fixed;
    bottom: 0;
    width:100%;
    background:#FFF;
}