.wrap{
    composes: wrap from '../Util/huipayWaterBase.css';
}
.shadow{
    position:fixed;
    width:100%;
    height:100%;
    background:#000;
    opacity: 0.4;
    z-index:10;
}
.shopping_list{
    display: flex;
    flex-direction: row;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.shopping_cart{
    display: flex;
    flex-direction: column;
    position: fixed;
    max-height:5.62rem;
    bottom: 0.9rem;
    padding-bottom:0.3rem;
    width:100%;
    background:#FFF;
    z-index: 12;
    overflow: hidden;
}
.shopping_cart_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:0.9rem;
    line-height:0.9rem;
    border-bottom: 0.01rem solid #D7D7D7;
}
.shopping_cart_list{
    max-height: 4.72rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.shopping_cart_product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0.17rem 0.2rem 0 0;
    margin-left: 0.25rem;
    border-bottom:0.01rem solid #D7D7D7;
}
.shopping_cart_product_info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopping_cart_product_name{
    composes: f30 from '../Util/huipayWaterBase.css';
    height:0.55rem;
    line-height:0.55rem;
    color:#333;
}
.shopping_cart_product_specification{
    height:0.4rem;
    line-height:0.4rem;
    font-size:0.2rem;
    color:#999;
}
.shopping_cart_product_price{
    display: flex;
    flex-direction: row;
    height:0.5rem;
    line-height:0.5rem;
    color:#ff4c2f;
}
.shopping_cart_product_price_rmb{
    font-size:0.2rem;
}
.shopping_cart_product_total_price{
    font-size:0.3rem;
    line-height:0.5rem;
}
.shopping_cart_title_text{
    margin-left:0.3rem;
    composes: f30 from '../Util/huipayWaterBase.css';
    line-height:0.9rem;
    color:#333;
}
.shopping_cart_clear_all{
    margin-right:0.35rem;
    padding-left:0.3rem;
    color:#666;
    composes: f24 from '../Util/huipayWaterBase.css';
    line-height:0.9rem;
    background:url("../images/garbage _can@2x.png") no-repeat left center;
    -webkit-background-size: 0.26rem;
    background-size: 0.26rem;
}
.notice{
    display:flex;
    margin:0.3rem 0 0 0.4rem;
    composes: f22 from '../Util/huipayWaterBase.css';
}
.nav_link{
    display:flex;
    flex-direction: row;
    height:0.8rem;
    line-height:0.8rem;
    font-size:0.32rem;
    padding-left:0.3rem;
    border-bottom:0.01rem solid #D7D7D7;
}
.nav_link_product_text{
    margin-right:0.5rem;
}
.type_list{
    background:#F8F8F8;
    width:1.6rem;
    padding-bottom:1.1rem;
}
.type_item{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    height:1.1rem;
    line-height:1.1rem;
    composes:tc from '../Util/base.css';
    composes:f28 from '../Util/huipayWaterBase.css';
    border-bottom:0.01rem solid #e6e6e6;
}
.product_list_total_count{
    position: absolute;
    top:0.07rem;
    right:0.1rem;
    width:0.26rem;
    height:0.26rem;
    line-height:0.26rem;
    color:#FFF;
    -webkit-border-radius: 0.26rem;
    -moz-border-radius: 0.26rem;
    border-radius: 0.26rem;
    composes: linear_red_bg from '../Util/huipayWaterBase.css';
    font-size:0.2rem;
}
.type_item_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:0.72rem;
    line-height:0.72rem;
    composes:f28 from '../Util/huipayWaterBase.css';
}
.product_list{
    position:relative;
    flex:1;
    padding-bottom:1.1rem;
}
.type_title{
    display:flex;
    margin-left:0.2rem;
    margin-top:-0.01rem;
    height:0.6rem;
    line-height:0.6rem;
    border-bottom:0.01rem solid #f0f0f0;
    border-top:0.01rem solid #f0f0f0;
    color:#666;
    composes:f28 from '../Util/huipayWaterBase.css';
}
.water_ticket{
    display:flex;
    flex-direction: row;
    height:1.52rem;
    margin:0.24rem 0.2rem 0;
    overflow: hidden;
}
.water_ticket_left_border_b{
    background:url("../images/dianpu_shuipiao_bg_blue_left1@2x.png") no-repeat left center;
    -webkit-background-size: auto 1.52rem;
    background-size: auto 1.52rem;
    flex:6;
}
.ticket_left{
    background:#FFF url('../images/dianpu_shuipiao_bg_left2@2x.png') no-repeat left center;
    -webkit-background-size: auto 1.52rem;
    background-size: auto 1.52rem;
    display:flex;
    flex-direction: row;
    flex:397;
    align-items: center;
}

.water_ticket_img_product{
    width:1rem;
    height:1rem;
    margin:0.2rem 0 0 0.16rem;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.water_ticket_img{
    width:100%;
}
.water_ticket_name{
    font-size:0.32rem;
    font-weight: bold;
}
.ticket_right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:146;
    align-items: center;
    background:#FFF url("../images/dianpu_shuipiao_bg_right@2x.png") no-repeat right center;
    -webkit-background-size: auto 1.52rem;
    background-size: auto 1.52rem;
    composes: tc from '../Util/base.css';
}
.select_product{
    width:1rem;
    height:0.4rem;
    line-height:0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    color:#FFF;
    composes: f24 from '../Util/huipayWaterBase.css';
    composes: linear_blue_bg from '../Util/huipayWaterBase.css';
}
.product_item{
    display: flex;
    flex-direction: row;
}
.product_item_img_protect{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:1.8rem;
    height:1.8rem;
    margin:0.3rem 0 0 0.2rem;
    overflow: hidden;
}
.product_item_img{
    width:100%;
}
.product_item_info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    margin-left: 0.2rem;
    padding:0.3rem 0;
    height:1.8rem;
    border-bottom:0.01rem solid #f0f0f0;
}
.product_item_name{
    color:#333;
    font-size:0.32rem;
    margin-right:0.2rem;
}
.product_item_mount_sale{
    margin-right:0.2rem;
}
.product_item_sale_title,.product_item_sale{
    color:#666;
    font-size:0.2rem;
}
.product_item_info_count{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:0.2rem;
}
.rmb{
    color:#ff4c2f;
    font-size:0.2rem;
}
.price{
    color:#ff4c2f;
    font-size:0.3rem;
}
.product_item_ctrl{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width:1.65rem;
    line-height:0.42rem;
}
.product_increase{
    margin-left:0.1rem;
    width:0.42rem;
    height:0.42rem;
    background: url("../images/increase@2x.png") no-repeat center;
    -webkit-background-size: 0.42rem;
    background-size: 0.42rem;
}
.product_count{
    margin-left:0.1rem;
    width:0.55rem;
    font-size:0.4rem;
    composes: search_black from '../Util/huipayWaterBase.css';
    composes: tc from '../Util/base.css';
}
.product_reduce{
    width:0.42rem;
    height:0.42rem;
    background: url("../images/reduce@2x.png") no-repeat center;
    -webkit-background-size: 0.42rem;
    background-size: 0.42rem;
}
.shop_footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width:100%;
    height:0.9rem;
    composes: search_black_bg from '../Util/huipayWaterBase.css';
    z-index: 13;

}
.shopping_cart_info{
    display: flex;
    flex-direction: row;
    position:relative;
}
.shopping_cart_btn{
    position: relative;
    bottom:0.3rem;
    margin-left:0.3rem;
    width:0.84rem;
    height:0.84rem;
    border:0.12rem solid #322E2D;
    -webkit-border-radius: 0.84rem;
    -moz-border-radius: 0.84rem;
    border-radius: 0.84rem;
    background:#333 url("../images/Shopping-Cart-xiangqing@2x.png") no-repeat center;
    -webkit-background-size: 0.28rem;
    background-size: 0.28rem;
}
.shopping_cart_total_count{
    position:absolute;
    top:-0.12rem;
    right:-0.12rem;
    width:0.36rem;
    height:0.36rem;
    line-height:0.36rem;
    -webkit-border-radius: 0.36rem;
    -moz-border-radius: 0.36rem;
    border-radius: 0.36rem;
    composes: linear_red_bg from '../Util/huipayWaterBase.css';
    composes:tc from '../Util/base.css';
    color:#FFF;
    font-size:0.2rem;
}
.shopping_cart_info_total{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left:0.15rem;
    line-height:0.9rem;
    color:#FFF;
}
.shopping_cart_info_total_price{
    line-height:0.9rem;
    composes: f36 from '../Util/huipayWaterBase.css';
}
.shopping_cart_info_total_price_title{
    line-height:0.9rem;
    composes: f30 from '../Util/huipayWaterBase.css';
}
.shopping_cart_info_total_price_rmb{
    line-height:0.9rem;
    composes: f22 from '../Util/huipayWaterBase.css';
}
.confirm_order_btn{
    width:2.22rem;
    height:0.9rem;
    line-height:0.9rem;
    color:#FFF;
    composes: tc from '../Util/base.css';
    composes: linear_red_bg from '../Util/huipayWaterBase.css';
    composes: f36 from '../Util/huipayWaterBase.css';
}
.cant_confirm_order_btn{
    width:2.22rem;
    height:0.9rem;
    line-height:0.9rem;
    color:#FFF;
    composes: tc from '../Util/base.css';
    background:#999;
    composes: f36 from '../Util/huipayWaterBase.css';
}