
.product_window{
    position: fixed;
    height: 100%;
    width:100%;
    overflow: hidden;
}
.product_list_body{
    display:flex;
    flex-direction: row;
    height:100%;
}

.product_type{
    width:2rem;
    border-right:0.01rem solid #E2E2E2;
    overflow: auto;
}
.product_type_item{
    height:1rem;
    line-height: 1rem;
    border-bottom:0.01rem solid #E2E2E2;
    text-align: center;
}
.product_list{
    flex:1;
    overflow: auto;
}
.product_type_item_right{
    height:0.3rem;
    line-height: 0.3rem;
    border-bottom:0.01rem solid #E2E2E2;
}
.product_list_item{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height:1rem;
    line-height: 1rem;
    border-bottom:0.01rem solid #E2E2E2;
    text-align: center;
}