.wrap{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#F3F5F7;
}
.list{
    padding-bottom:1rem;
}
.water_ticket{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:0.2rem;
    height:1.4rem;

}
.water_ticket_left{
    height:1.92rem;
    flex:138;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background:url("../images/shuipiao_bg_left@2x.png") no-repeat left center;
    -webkit-background-size: auto 1.92rem;
    background-size: auto 1.92rem;
}
.water_ticket_count{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: baseline;
}
.count{
    font-size:0.66rem;
    color:#399cfe;
    font-weight: bold;
}
.unit{
    composes: f24 from '../Util/huipayWaterBase.css';
    color:#399cfe;
}
.water_ticket_right{
    height:1.92rem;
    flex:385;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url("../images/shuipiao_bg_right@2x.png") no-repeat right center;
    -webkit-background-size: auto 1.92rem;
    background-size: auto 1.92rem;
}
.name{
    composes:f36 from '../Util/huipayWaterBase.css';
    padding-left:0.28rem;
    line-height: 1.4rem;
    font-weight: bold;
    color:#333;
}
.rest_day{
    composes:f24 from '../Util/huipayWaterBase.css';
    color:#399cfe;
    text-align: center;
}
.use_box{
    display:flex;
    flex-direction: column;
    padding-right:0.4rem;
}
.use_btn{
    width:1.48rem;
    height:0.58rem;
    line-height:0.58rem;
    text-align: center;
    composes: linear_blue_bg from '../Util/huipayWaterBase.css';
    -webkit-border-radius: 0.43rem;
    -moz-border-radius: 0.43rem;
    border-radius: 0.43rem;
    color:#FFF;
}
.product_item_ctrl{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width:1.65rem;
    line-height:0.42rem;
}
.product_reduce{
    width:0.42rem;
    height:0.42rem;
    background: url("../images/reduce@2x.png") no-repeat center;
    -webkit-background-size: 0.42rem;
    background-size: 0.42rem;
}
.product_count{
    margin-left:0.1rem;
    width:0.55rem;
    font-size:0.4rem;
    composes: search_black from '../Util/huipayWaterBase.css';
    composes: tc from '../Util/base.css';
}
.product_increase{
    margin-left:0.1rem;
    width:0.42rem;
    height:0.42rem;
    background: url("../images/increase@2x.png") no-repeat center;
    -webkit-background-size: 0.42rem;
    background-size: 0.42rem;
}
.footer{
    position:fixed;
    bottom:0;
    height:0.96rem;
    background:#FFF;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    composes:f36 from '../Util/huipayWaterBase.css';
    color: #399cfe;
}
